{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username , {
            label : 'Nom d\'utilisateur : '
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}
        {{ form_row(registrationForm.name, {
            label : 'Nom : '
        }) }}
        {{ form_row(registrationForm.surname, {
            label : 'Prénom : '
        }) }}
        {{ form_row(registrationForm.phone_number, {
            label : 'Numéro de téléphone : '
        }) }}
        {{ form_row(registrationForm.comment, {
            label : 'Commentaire : '
        }) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

