{% extends 'base.html.twig' %}

{% block title %}Rapport des Trajets{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Trajets
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre de poissons péchés</th>
                                <th>Nombre de poissons stockés</th>
                                <th>Total</th>
                                <th>Employé</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ride in rides %}
                                <tr>
                                    <td>{{ ride.id }}</td>
                                    <td>{{ ride.fishNumber }}</td>
                                    <td>{{ ride.stockedFish }}</td>
                                    <td>{{ ride.fishNumber +  ride.stockedFish}}</td>
                                    <td>{{ ride.busy.user.name }} {{ ride.busy.user.surname }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">Pas de données trouvées</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}


