{% extends 'base.html.twig' %}

{% block title %}Ajouter un trajet{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Salariés
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            Poissons péchés :
                            {{ form_widget(form.fish_number) }}
                            </br>
                            Poissons stockés :
                            {{ form_widget(form.stocked_fish) }}
                            </br>
                            <p></p>
                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                            <p></p>
                        {{ form_end(form) }}
                        <a class="btn btn-danger" href="{{ path('app_ride_index') }}">Annuler</a>
                        {#{{ include('ride/_form.html.twig') }}#}
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}
