{% extends 'base.html.twig' %}

{% block title %}Ride{% endblock %}

{% block body %}
    <h1>Ride</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ride.id }}</td>
            </tr>
            <tr>
                <th>Fish_number</th>
                <td>{{ ride.fishNumber }}</td>
            </tr>
            <tr>
                <th>Stocked_fish</th>
                <td>{{ ride.stockedFish }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ride_index') }}">back to list</a>

    <a href="{{ path('app_ride_edit', {'id': ride.id}) }}">edit</a>

    {{ include('ride/_delete_form.html.twig') }}
{% endblock %}
