<form method="post" action="{{ path('app_busy_vehicule_delete', {'id': busy_vehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ busy_vehicule.id) }}">
    <button class="btn">Delete</button>
</form>
