{% extends 'base.html.twig' %}

{% block title %}Edit BusyVehicule{% endblock %}

{% block body %}
    <h1>Edit BusyVehicule</h1>

    {{ include('busy_vehicule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_busy_vehicule_index') }}">back to list</a>

    {{ include('busy_vehicule/_delete_form.html.twig') }}
{% endblock %}
