{% extends 'base.html.twig' %}

{% block title %}BusyVehicule index{% endblock %}

{% block body %}
    <h1>BusyVehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime_beggening</th>
                <th>Datetime_end</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for busy_vehicule in busy_vehicules %}
            <tr>
                <td>{{ busy_vehicule.id }}</td>
                <td>{{ busy_vehicule.datetimeBeggening ? busy_vehicule.datetimeBeggening|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ busy_vehicule.datetimeEnd ? busy_vehicule.datetimeEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_busy_vehicule_show', {'id': busy_vehicule.id}) }}">show</a>
                    <a href="{{ path('app_busy_vehicule_edit', {'id': busy_vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_busy_vehicule_new') }}">Create new</a>
{% endblock %}
