

{% block title %}New BusyVehicule{% endblock %}

{% block body %}
    <h1>Create new BusyVehicule</h1>

    {{ include('busy_vehicule/_form.html.twig') }}

    <a href="{{ path('app_busy_vehicule_index') }}">back to list</a>
{% endblock %}
