{% extends 'base.html.twig' %}

{% block title %}BusyVehicule{% endblock %}

{% block body %}
    <h1>BusyVehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ busy_vehicule.id }}</td>
            </tr>
            <tr>
                <th>Datetime_beggening</th>
                <td>{{ busy_vehicule.datetimeBeggening ? busy_vehicule.datetimeBeggening|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datetime_end</th>
                <td>{{ busy_vehicule.datetimeEnd ? busy_vehicule.datetimeEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_busy_vehicule_index') }}">back to list</a>

    <a href="{{ path('app_busy_vehicule_edit', {'id': busy_vehicule.id}) }}">edit</a>

    {{ include('busy_vehicule/_delete_form.html.twig') }}
{% endblock %}
