<form method="post" action="{{ path('app_is_sale_delete', {'id': is_sale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ is_sale.id) }}">
    <button class="btn">Delete</button>
</form>
