{% extends 'base.html.twig' %}

{% block title %}Edit IsSale{% endblock %}

{% block body %}
    <h1>Edit IsSale</h1>

    {{ include('is_sale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_is_sale_index') }}">back to list</a>

    {{ include('is_sale/_delete_form.html.twig') }}
{% endblock %}
