{% extends 'base.html.twig' %}

{% block title %}Ventes{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Ventes
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Article</th>
                                <th>Quantity</th>
                                <th>Client</th>
                                <th>Vendeur</th>
                                <th>Prix total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for is_sale in is_sales %}
                                <tr>
                                    <td>{{ is_sale.id }}</td>
                                    <th>{{ is_sale.product.name }}</th>
                                    <td>{{ is_sale.quantity }}</td>
                                    <td>{{ is_sale.sale.customer.name }} {{ is_sale.sale.customer.surname }}</td>
                                    <td>{{ is_sale.sale.user.name }} {{ is_sale.sale.user.surname }}</td>
                                    <td>{{ is_sale.quantity * is_sale.product.price }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Pas de résultats</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}


