{% extends 'base.html.twig' %}

{% block title %}IsSale{% endblock %}

{% block body %}
    <h1>IsSale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ is_sale.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ is_sale.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_is_sale_index') }}">back to list</a>

    <a href="{{ path('app_is_sale_edit', {'id': is_sale.id}) }}">edit</a>

    {{ include('is_sale/_delete_form.html.twig') }}
{% endblock %}
