{% extends 'base.html.twig' %}

{% block title %}Sale index{% endblock %}

{% block body %}
    <h1>Sale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime_sale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.datetimeSale ? sale.datetimeSale|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sale.user.name }}</td>
                <td>
                    <a href="{{ path('app_sale_show', {'id': sale.id}) }}">show</a>
                    <a href="{{ path('app_sale_edit', {'id': sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sale_new') }}">Create new</a>
{% endblock %}


