<form method="post" action="{{ path('app_busy_delete', {'id': busy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ busy.id) }}">
    <button class="btn">Delete</button>
</form>
