{% extends 'base.html.twig' %}

{% block title %}Edit Busy{% endblock %}

{% block body %}
    <h1>Edit Busy</h1>

    {{ include('busy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_busy_index') }}">back to list</a>

    {{ include('busy/_delete_form.html.twig') }}
{% endblock %}
