{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}


{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="" method="post">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Prendre son service</th>
                                    <th>Finir son service</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a class="btn btn-primary" href="{{ path('app_busy_new') }}">Avec plaisir</a>
                                    </td>
                                    {% if userVehicles|length == 0 %}
                                    <td><a class="btn btn-primary" href="{{ path('app_busy_end') }}">Avec plaisir</a>
                                    </td>
                                    {% elseif  userVehicles|length >= 1 %}
                                    <td><a class="btn btn-primary" onclick="return confirm('Veuillez rendre vos/votre vehicule avant de prendre une fin de service')">Avec plaisir</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                {% if app.user.isbusy == 1 %}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Prendre un véhicule</th>
                                <th>Rendre un véhicule</th>
                            </tr>
                            </thead>
                            <tr>
                            <form action="{{ path('app_busy_take') }}" method="post">
                                <tr>
                                    <td>
                                        <select name="registration">
                                            {% if vehicles|length == 0 %}
                                                <option value="">Pas de véhicule disponnible</option>
                                            {% else %}
                                                {% for vehicle in vehicles %}
                                                    <option value="{{ vehicle.registration }}">{{ vehicle.name }} {{ vehicle.registration }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        {% if vehicles|length != 0 %}
                                            <button class="btn btn-primary">Envoyer</button>
                                        {% else %}
                                            <button disabled class="btn btn-primary">Envoyer</button>
                                        {% endif %}
                                    </td>
                                </form>
                                <form action="{{ path('app_busy_return') }}" method="post">
                                    <td>
                                        <select name="registration">
                                            {% if userVehicles|length == 0 %}
                                                <option value="">Pas de véhicule disponnible</option>
                                            {% else %}
                                                {% for vehicle in userVehicles %}
                                                    <option value="{{ vehicle.registration }}">{{ vehicle.name }} {{ vehicle.registration }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        {% if userVehicles|length != 0 %}
                                            <button class="btn btn-primary">Rendre</button>
                                        {% else %}
                                            <button disabled class="btn btn-primary">Rendre</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Service
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>DateTime de début</th>
                                <th>DateTime de fin</th>
                                <th>Employé</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for busy in busy %}
                                <tr>
                                    <td>{{ busy.id }}</td>
                                    <td>{{ busy.datetimeBeggening ? busy.datetimeBeggening|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ busy.datetimeEnd ? busy.datetimeEnd|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ busy.user.name }} {{ busy.user.surname }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">Pas de données trouvées</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}


