{#{% extends 'base.html.twig' %}#}

{% block title %}New Busy{% endblock %}

{% block body %}
    <h1>Create new Busy</h1>

    {{ include('busy/_form.html.twig') }}

    <a href="{{ path('app_busy_index') }}">back to list</a>
{% endblock %}
