{% extends 'base.html.twig' %}

{% block title %}Busy{% endblock %}

{% block body %}
    <h1>Busy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ busy.id }}</td>
            </tr>
            <tr>
                <th>Datetime_beggening</th>
                <td>{{ busy.datetimeBeggening ? busy.datetimeBeggening|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datetime_end</th>
                <td>{{ busy.datetimeEnd ? busy.datetimeEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fish_number</th>
                <td>{{ busy.fishNumber }}</td>
            </tr>
            <tr>
                <th>Stocked_fish</th>
                <td>{{ busy.stockedFish }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_busy_index') }}">back to list</a>

    <a href="{{ path('app_busy_edit', {'id': busy.id}) }}">edit</a>

    {{ include('busy/_delete_form.html.twig') }}
{% endblock %}
