{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Liste des Véhicules
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Immatriculation</th>
                                <th>Niveau de carburant</th>
                                <th>Est utilisé ?</th>
                                <th>Nom</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vehicle in vehicles %}
                                <tr>
                                    <td>{{ vehicle.id }}</td>
                                    <td>{{ vehicle.registration }}</td>
                                    <td>{{ vehicle.fuelLevel }}</td>
                                    <td>{{ vehicle.isUse ? 'Yes' : 'No' }}</td>
                                    <td>{{ vehicle.Name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}


