{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Ajouter un salarié
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        Nom :
                        {{ form_widget(form.Name) }}
                        </br>
                        Plaque d'imatriculation :
                        {{ form_widget(form.registration) }}
                        </br>
                        Niveau de carburant :
                        {{ form_widget(form.fuel_level) }}
                        </br>
                        Type de véhicule :
                        {{ form_widget(form.vehicletype) }}
                        </br>
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                        {{ form_end(form) }}
                        <p></p>
                        <a class="btn btn-danger" href="{{ path('app_customer_index') }}">Annuler</a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}
