<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" >
            <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">NorthMarina</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {#<li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>#}
                        <li><a class="dropdown-item" href="/logout">Se deconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-door-open"></i></div>
                                Accueil
                            </a> <div class="sb-sidenav-menu-heading">Informations</div>
                            <a class="nav-link" href="/busy">
                                <div class="sb-nav-link-icon"><i class="fas fa-anchor"></i></div>
                                Prise/Fin de service
                            </a>
                            <a class="nav-link" href="/ride/new">
                                <div class="sb-nav-link-icon"><i class="fas fa-fish"></i></div>
                                Ajouter un Trajet
                            </a>
                            <a class="nav-link" href="/customer/new">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                                Ajouter un Client
                            </a>
                            <a class="nav-link" href="/customer">
                                <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                                Liste des clients
                            </a>
                            <a class="nav-link" href="/sale/new">
                                <div class="sb-nav-link-icon"><i class="fas fa-shopping-basket"></i></div>
                                Vente
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="sb-sidenav-menu-heading">Administration</div>{#
                                <a class="nav-link" href="/">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Dashboard
                                </a>#}
                                <a class="nav-link" href="/vehicle/new">
                                    <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                                    Ajouter un véhicule
                                </a>
                                <a class="nav-link" href="/vehicle">
                                    <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                                    Liste des véhicules
                                </a>
                                <a class="nav-link" href="/ride">
                                    <div class="sb-nav-link-icon"><i class="fas fa-pencil-ruler"></i></div>
                                    Rapport des Trajets
                                </a>
                                <a class="nav-link" href="/user">
                                    <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                                    Ressources humaines
                                </a>
                                <a class="nav-link" href="/busy">
                                    <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
                                    Rapport de Service
                                </a>
                                <a class="nav-link" href="/is/sale">
                                    <div class="sb-nav-link-icon"><i class="fas fa-money-bill"></i></div>
                                    Rapport de vente
                                </a>
                            {% endif %}
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            {#<div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>#}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Connecté en tant que :</div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p>{{ app.user.username }}</p>
                        {% endif %}
                    </div>
                </nav>
            </div>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ asset('js/datatables-simple-demo.js') }}"></script>
    </body>
</html>
