{% extends 'base.html.twig' %}

{% block title %}New Ride{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Salariés
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            Nom d'utilisateur :
                            {{ form_widget(form.username) }}
                            </br>
                            Nom de famille :
                            {{ form_widget(form.name) }}
                            </br>
                            Prénom :
                            {{ form_widget(form.surname) }}
                            </br>
                            Numéro de téléphone :
                            {{ form_widget(form.phone_number) }}
                            </br>
                            Commentaire :
                            {{ form_widget(form.comment) }}
                            </br>

                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                        {{ form_end(form) }}

                        <a class="btn btn-danger" href="{{ path('app_user_index') }}">Annuler</a>
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}
