{% extends 'base.html.twig' %}

{% block title %}Ressources humaines{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Salariés
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom d'utilistateur</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Numéro de téléphone</th>
                                <th>Commentaire</th>
                                <th>Est occupé</th>
                                <th>Date de recrutement</th>
                                <th>✍</th>
                                <th>❌</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.phoneNumber }}</td>
                                    <td>{{ user.comment }}</td>
                                    <td>{{ user.isBusy ? 'Oui' : 'Non' }}</td>
                                    <td>{{ user.recruitmentDate ? user.recruitmentDate|date('Y-m-d') : '' }}</td>
                                    <td><a href="{{ path('app_user_edit', {'id': user.id}) }}">✍</a></td>
                                    <td><a href="{{ path('app_user_delete', {'id': user.id})}}">❌</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">Pas de données trouvées</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}

