{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Ajouter un salarié
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            Nom d'utilisateur :
                            {{ form_widget(form.username) }}
                            </br>
                            Nombre de poissons stockés :
                            {{ form_widget(form.name) }}
                            </br>
                            Id Busy :
                            {{ form_widget(form.busy) }}
                            </br>
                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                        {{ form_end(form) }}

                        <a href="{{ path('app_user_index') }}">Annuler</a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
{% endblock %}
